<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Oliver</title>

    <link href="/static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
         .break-word {
            word-break: break-all; /* 或者使用 word-break: break-word; */
            width: 200px; /* Set a fixed width */
            padding: 10px;
        }
    </style>
</head>
<body>

{% include '_nav.html' %}

<main>
    <div class="container">


        <div class="row">
            {% include 'sidebar.html' %}
            <main class="col-md-9" style="background-color: white;border: 1px dashed black">

                <div class="row" style="margin-top: 50px;padding: 10px">
                    <a href="/course/add">
                        <button type="button" class="btn btn-primary mb-3" style="width: 100px">Add
                        </button>
                    </a>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Notes</th>
                            <th scope="col" >Doc</th>
                            <th scope="col">Model</th>
                            <th scope="col">Prompt</th>
                            <th scope="col">Operate</th>
                        </tr>
                        </thead>
                        <tbody id="dataList">
                        {% for item in rows %}
                        <tr>
                            <td scope="col">{{item.id}}</td>
                            <td scope="col">{{item.name}}</td>
                            <td scope="col">{{item.notes or ''}}</td>
                            <td scope="col" class="break-word">{{item.doc or ''}}</td>
                            <td scope="col">{{item.model or ''}}</td>
                            <td scope="col">{{item.prompt or ''}}</td>
                            <td scope="col" width="20%">

                                <a href="/course/edit?id={{item.id}}">
                                    <button type="button" class="btn btn-sm btn-primary mb-3">Update
                                    </button>
                                </a><br>
                                <a href="/course/delete?id={{item.id}}">
                                    <button type="button" class="btn btn-sm btn-danger mb-3">Delete
                                    </button>
                                </a>
                                <br>
                                <a href="/course/upload?id={{item.id}}">
                                    <button type="button" class="btn btn-sm btn-primary mb-3">Upload
                                    </button>
                                </a>
                                <br>
                                <a href="/course/remove_docs?id={{item.id}}">
                                    <button type="button" class="btn btn-sm btn-primary mb-3">Remove Docs
                                    </button>
                                </a>
                                <br>
                                <a href="/course/export?id={{item.id}}">
                                    <button type="button" class="btn btn-sm btn-primary mb-3">Export Log
                                    </button>
                                </a>
                                 <br>
                                <a href="/open/{{item.name}}" target="_blank">
                                    <button type="button" class="btn btn-sm btn-primary mb-3">Q and A
                                    </button>
                                </a>

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
                <div id="message" class="form-text text-muted"></div>
            </main>
        </div>
    </div>
</main>


<script src="/static/assets/dist/js/bootstrap.min.js"></script>
<script src="/static/assets/jquery-3.4.1.js"></script>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
        event.preventDefault();
        document.getElementById('message').textContent = 'Uploading, processing in the background...';
        const formData = new FormData(this);
        fetch('/upload', {
            method: 'POST',
            body: formData,
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Network response was not ok');
                }
            })
            .then(message => {
                document.getElementById('message').textContent = message;
            })
            .catch(error => console.error('Error:', error));
    });
</script>

<script>
    function logout() {
        $.ajax({
            type: "post",
            url: "/logout",
            success: function (data) {
                location.href = '/index'
            }
        });
    }

</script>

</body>
</html>
